$cor-primaria: #37ab00;
$cor-fundo: #ffffff;
// $cor-fundo2: #180f10;
$cor-fundo2: #FBFEF4;
$branco: #fff;
$preto-transparente-70: #000000b3;
$preto-transparente-30: #0000004d;
$preto-transparente-03: #00000008;